@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';

//icons color
.ck.ck-button.ck-off {
  @apply text-base-content
}

// ckeditor bg
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred,
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused,
.ck.ck-toolbar div,
.ck.ck-dropdown.ck-heading-dropdown
{
  @apply bg-neutral;
}

// toolbar items
.ck.ck-toolbar__items .ck.ck-button {
  @apply hover:text-neutral
}

// toolbar list items
.ck.ck-reset.ck-list li {
  @apply bg-neutral
}

// remove left/right lines
.ck.ck-sticky-panel__content .ck {
  @apply p-0;
}

// fix for lists
.ck.ck-editor__main .ck.ck-content {
  @apply ps-10
}

// ck viewer
.ck-viewer .ck-editor .ck-editor__main div {
  padding: 0 !important;
  padding-left: 0 !important;
  border: 0;
}

.ck-viewer .ck-editor .ck-editor__top .ck-sticky-panel__content .ck-toolbar{
  border: 0;
}

// fix lines before and after embed(figure) tag
.media.ck-widget, .image.ck-widget, .ck-widget {
  outline: none !important;
}

.link {
  @apply text-cyan-200 hover:text-accent-focus
}

.ck-content p a {
  @apply link
}

.min-h-32 {
  min-height: 8rem;
}
