<div class="group">
  <div class="flex flex-row items-center my-2">
    <div class="basis-8/12 h-full">
      <div routerLink="/forum/{{forum.id}}" class="link link-hover no-underline">
        {{forum.title}}
      </div>
    </div>
    <div class="basis-1/12 text-center">
      {{forum.postsCount}}
    </div>
    <div class="basis-1/12 text-center">
      {{forum.topicsCount}}
    </div>
    <div class="basis-3/12">
      <div class="flex flex-col text-sm" *ngIf="forum.lastTopic">
        <a
          class="link link-hover no-underline"
          routerLink="/forum/topic/{{forum.lastTopic.id}}"
        >
          {{forum.lastTopic.title}}
        </a>
        <div class="text-secondary-content text-xs">
          {{forum.lastTopic.updatedAt | date: 'dd.MM.yyyy HH:mm'}}
        </div>
      </div>
    </div>
  </div>
  <hr class="border-neutral group-hover:border-primary-content">
</div>
