<div class="group">
  <div class="flex flex-row items-center my-2">
    <div class="basis-8/12 h-full">
      <a routerLink="/forum/{{forum.id}}" class="link link-hover no-underline text-lg">
        {{forum.title}}
      </a>
    </div>
    <div class="basis-1/12 text-center">
      {{forum.postsCount}}
    </div>
    <div class="basis-1/12 text-center">
      {{forum.topicsCount}}
    </div>
    <div class="basis-3/12">
      <div class="flex flex-row" *ngIf="forum?.lastTopic">
        <div class="me-2 my-auto">
          <div class="avatar">
            <div class="w-10 rounded">
              <a routerLink="/profile/{{forum.lastTopic.user.id}}">
                <img src="{{resourceUrl}}/{{forum.lastTopic.user.avatarPath}}" loading="lazy" />
              </a>
            </div>
          </div>
        </div>
        <div class="flex flex-col text-sm" *ngIf="forum.lastTopic">
          <div class="text-secondary-content text-xs">
            {{forum.lastTopic.updatedAt | date: 'dd.MM.yyyy HH:mm'}}
          </div>
          <div>
            <span class="text-secondary-content text-xs">topic: </span>
            <a class="link link-hover no-underline"
              routerLink="/forum/topic/{{forum.lastTopic.id}}"
            >
              {{forum.lastTopic.title | truncate}}
            </a>
          </div>
          <div>
            <span class="text-secondary-content text-xs">author: </span>
            <a class="link link-hover no-underline"
              routerLink="/profile/{{forum.lastTopic.user.id}}"
            >
              {{forum.lastTopic.user.username}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="border-neutral group-hover:border-primary-content">
</div>
