<div class="flex flex-col items-center">
  <div class="text-3xl">
    Welcome <span *ngIf="authService.user$ | async">back</span> to Void<span class="text-accent">Hub</span>
  </div>
  <div class="py-8 flex flex-col items-center text-2xl">
    <div>
      Check out <a class="link link-hover" routerLink="/forum">sectins page</a> to see all sections
    </div>
    <div>
      Or <a class="link link-hover" routerLink="/forum/recent">recent topics</a> to see what's new
    </div>
  </div>
  <div class="flex flex-col items-center text-2xl" *ngIf="!(authService.user$ | async)">
    Not have account yet?
    <a routerLink="/register">
      <a class="link link-hover">Sign up</a> to create account
    </a>
    or
    <a routerLink="/login">
      <a class="link link-hover">Login</a> to your account
    </a>
  </div>
</div>
