<app-header></app-header>

<router-outlet></router-outlet>

<!--
  <div class="flex flex-col md:flex-row pt-4">
  <div class="flex basis-1/3 hover:basis-2/3 my-2 md:my-0 bg-primary md:mx-2">
    <div class="m-auto hover:m-0">
      data
    </div>
  </div>
  <div class="flex basis-1/3 hover:basis-2/3 rounded bg-secondary h-32">
    <div class="m-auto">
      data2
    </div>
  </div>
  <div class="flex basis-1/3 hover:basis-2/3 rounded my-2 bg-neutral md:my-0 md:mx-2 h-32">
    <div class="m-auto">
      data3
    </div>
  </div>
</div>
-->
