<div class="flex flex-col items-start">
  <div class="bg-base-200 rounded-2xl w-full">
    <form #newTopicForm="ngForm" (ngSubmit)="onSubmit(newTopicForm)" >
      <div class="flex flex-col items-start p-5">
        <div class="select-none pt-3 text-2xl text-secondary-content">
          New Topic
        </div>
        <app-error-message-list [messages]="errorMessages"></app-error-message-list>
        <div class="form-control w-1/2">
          <input
            type="text"
            class="input-sm bg-neutral mt-2 input input-bordered"
            id="title"
            name="title"
            placeholder="Title"
            [ngClass]="{
              'input-error': newTopicForm.controls['title']?.touched && newTopicForm.controls['title'].errors?.['required']
            }"
            ngModel
            required
            minlength="3"
            maxlength="255"
          >
          <label class="flex flex-col items-start label pt-0.5">
            <span
              class="label-text-alt text-error"
              *ngIf="newTopicForm.controls['title']?.touched && newTopicForm.controls['title'].errors?.['required']">
              Title is required
            </span>
            <span
              class="label-text-alt text-error"
              *ngIf="newTopicForm.controls['title']?.touched &&
                (newTopicForm.controls['title'].value.length < 3 || newTopicForm.controls['title'].value.length > 255)">
              Title length must be between 3 and 255 characters
            </span>
          </label>
        </div>

        <div class="form-control w-full">
          <ckeditor
            class="bg-neutral"
            classes="rounded-b bg-neutral min-h-24"
            id="content"
            name="content"
            [editor]="editor"
            [config]="{placeholder:'Topic message'}"
            [(ngModel)]="content">
          </ckeditor>
          <label class="label">
            <span class="label-text-alt">
              <span
                [ngClass]="{
                  'text-error': content?.length > 24000
                }">
                {{content?.length ?? 0}}
              </span>
              / 24000 <span class="text-xs text-secondary-content">(include styles)</span>
            </span>
          </label>
        </div>

        <div class="form-control hidden">
          <input type="number" name="forumId" [ngModel]="forumId">
        </div>

        <div class="my-3">
          <app-limit-loader [limit]="1" [containerClasses]="'flex flex-row'">
            <button
              class=" btn btn-accent text-base-100 min-h-fit h-8">
              Create
            </button>
          </app-limit-loader>
          <button type="button" (click)="onCancel()"
            class=" btn btn-error ms-3 text-base-100 min-h-fit h-8">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>

</div>

