<div class="flex flex-col">
  <app-limit-loader [limit]="1" [ignore]="!!topic">
    <div class="flex flex-col" *ngIf="topic">
      <div>
        <div class="link no-underline" routerLink="/forum/{{topic.forumId}}">Back to forum...</div>
        <div class="flex flex-row my-auto">
          <div class="text-3xl font-bold">{{topic.title}}</div>
          <div class="flex flex-row ms-3">
            <div *ngIf="topic.isClosed" class="my-auto">
              <app-closed-icon></app-closed-icon>
            </div>
            <div *ngIf="topic.isPinned" class="my-auto ms-1">
              <app-pinned-icon></app-pinned-icon>
            </div>
          </div>
        </div>
        <div class="text-xs text-secondary-content flex flex-row">
          <div>posts: {{topic.postsCount + topic.commentsCount}}</div>
        </div>
        <div class="flex flex-row my-auto" *ngIf="user && user?.role == roles.ADMIN || user?.role == roles.MODER">
          <div>
            <app-title-editor
              [title]="topic.title"
              (onSave)="onTopicEdit($event)"
              *ngIf="topic"
            >
              <div class="hidden">
                <input
                  type="number"
                  id="forumId"
                  name="forumId"
                  [(ngModel)]="topic.forumId"
                >
              </div>

              <div class="flex flex-row">
                <input
                  type="checkbox"
                  class="toggle my-auto"
                  id="isClosed"
                  name="isClosed"
                  [(ngModel)]="topic.isClosed"
                >
                <label class="label">Closed</label>
              </div>
              <div class="flex flex-row">
                <input
                  type="checkbox"
                  class="toggle my-auto"
                  id="isPinned"
                  name="isPinned"
                  [(ngModel)]="topic.isPinned"
                >
              <label class="label">Pinned</label>
              </div>
            </app-title-editor>
          </div>

          <div>
            <app-delete (onConfirm)="onTopicDelete()">
            </app-delete>
          </div>
        </div>

        <div class="mt-3">
          <app-post [post]="topic?.post" [user]="user" [enableDeliting]="false" [enableComments]="false" ></app-post>
        </div>
      </div>
      <div class="my-3">
        <app-paginator
          (changePage)="changePage($event)"
          [max]="topic.postsCount / postsOnPage"
          [currentPage]="currentPage">
        </app-paginator>
      </div>

      <div>
        <app-limit-loader [limit]="1" [ignore]="posts?.length > 0">
          <div *ngFor="let post of posts" class="my-2">
            <app-post
              [post]="post"
              [user]="user"
              [depth]="1"
              [isTopicClosed]="topic.isClosed"
              (onDelete)="onPostDelete()">
            </app-post>
          </div>
        </app-limit-loader>
      </div>

      <div class="my-3">
        <app-paginator
          (changePage)="changePage($event)"
          [max]="topic.postsCount / postsOnPage"
          [currentPage]="currentPage">
        </app-paginator>
      </div>
      <app-post-editor
        *ngIf="user && !topic.isClosed"
        [topicId]="topic.id"
        [ancestorId]="topic?.post.id"
        [content]="newPostContent"
        [cancelPlaceholder]="'Clear'"
        (onCreate)="onPostCreate($event)">
      </app-post-editor>
    </div>
  </app-limit-loader>
</div>
