<div
  tabindex="0" class="btn btn-ghost min-h-fit p-1 min-w-fit h-fit w-fit rounded"
  (click)="setEditMode(true)"
  *ngIf="!editMode"
  >
  <svg xmlns="http://www.w3.org/2000/svg"
      class="{{svgClasses}} icon"
      [style.width]="width"
      [style.height]="height"
      viewBox="0 0 24 24"
    >
    <g id="Complete">
      <g id="edit">
        <g>
          <path d="M20,16v4a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H8" fill="none"  stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          <polygon fill="none" points="12.5 15.8 22 6.2 17.8 2 8.3 11.5 8 16 12.5 15.8" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        </g>
      </g>
    </g>
  </svg>
</div>

<div *ngIf="editMode">
  <form #titleEditForm="ngForm" (ngSubmit)="onSubmit(titleEditForm)">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        placeholder="Title"
        class="input-sm bg-neutral mt-2 input input-bordered"
        [ngClass]="{
          'input-error': titleEditForm.controls['title']?.touched && titleEditForm.controls['title'].invalid
        }"
        [(ngModel)]="title"
        required
        autocomplete="title"
        >
        <label class="flex flex-col items-start label pt-0.5">
          <span
            class="label-text-alt text-error"
            *ngIf="titleEditForm.controls['title']?.touched && titleEditForm.controls['title'].errors?.['required']"
          >
            Title is required
          </span>
        </label>
    </div>

    <ng-content>
    </ng-content>

    <div>
      <button type="submit" class="btn btn-success min-h-min h-8">
        Save
      </button>
      <button type="button" class="btn btn-info min-h-min h-8 ms-3" (click)="setEditMode(false)">
        Cancel
      </button>
    </div>
  </form>
</div>
