<div class="flex flex-col items-center">
  <div class="bg-base-200 rounded-2xl">
    <div class="text-lg text-center pt-12">Sign in</div>
    <app-error-message-list [messages]="errorMessages"></app-error-message-list>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="px-12 pb-5">
      <div class="flex flex-col">
        <div class="form-control">
          <input
            type="text"
            id="loginName"
            name="loginName"
            placeholder="login"
            class="input-sm bg-neutral mt-2 input input-bordered "
            [ngClass]="{
              'input-error': loginForm.controls['loginName']?.touched && loginForm.controls['loginName'].invalid
            }"
            ngModel
            required
            autocomplete="loginname"
            />
          <label class="flex flex-col items-start  label pt-0.5">
            <span class="label-text-alt">Shown to other users</span>
            <span
              class="label-text-alt text-error"
              *ngIf="loginForm.controls['loginName']?.touched && loginForm.controls['loginName'].errors?.['required']">
              Username is required
            </span>
          </label>
        </div>
        <div class="form-control">
          <input
            type="password"
            placeholder="password"
            id="password"
            name="password"
            class="input-sm bg-neutral mt-2 input input-bordered w-full max-w-xs"
            [ngClass]="{
              'input-error': loginForm.controls['password']?.touched && loginForm.controls['password'].errors?.['required']
            }"
            ngModel
            required
            autocomplete="password"
          />
          <label class="flex flex-col items-start label pt-0.5">
            <span class="label-text-alt">Shown to other users</span>
            <span
              class="label-text-alt text-error"
              *ngIf="loginForm.controls['password']?.touched && loginForm.controls['password'].errors?.['required']">
              Username is required
            </span>
          </label>
        </div>
      </div>

      <div class="flex flex-col items-center pb-12 pt-5">
          <app-limit-loader [limit]="1">
            <button class="btn btn-accent text-base-100 min-h-fit h-8">
              Sign in
              <svg class="fill-none stroke-base-100 stroke-2" xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 14.414 12.162">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.333 1.415 13 6.081m0 0-4.667 4.667M13 6.081H1">
                </path>
              </svg>
            </button>
          </app-limit-loader>

          <a class="link link-hover pt-2 text-cyan-400 hover:text-cyan-200" routerLink="/register">Create an account</a>
      </div>
    </form>

  </div>
</div>
