
<div class="flex flex-col">
  <app-limit-loader [limit]="1" [ignore]="topics.length > 0">
    <div #topicsContainer>
      <div *ngFor="let topic of topics" class="mb-2">
        <div class="bg-neutral rounded-md">
          <div class="px-8">
            <div class="flex flex-row border-b-2 border-secondary-content py-2">
              <div class="my-auto me-2">
                <div class="avatar mt-2">
                  <div class="w-12 rounded">
                    <a routerLink="/profile/{{topic.post.author.id}}">
                      <img src="{{resourceUrl}}/{{topic.post.author.avatarPath}}" loading="lazy">
                    </a>
                  </div>
                </div>
              </div>
              <div class="flex flex-col">
                <a routerLink="/forum/topic/{{topic.id}}" class="link no-underline text-xl">
                  {{topic.title}}
                </a>
                <div class="text-sm text-secondary-content">
                  <div>
                    Posted: {{topic.post.createdAt | date: 'medium'}}
                  </div>
                  <a class="link no-underline" routerLink="/profile/{{topic.post.author.id}}">
                    <span class="text-secondary-content">Author:</span> {{topic.post.author.username}}
                  </a>
                </div>
              </div>
            </div>

            <div class="flex flex-col">
              <div class="grow">
                <ckeditor [ngModel]="topic.post.content | reducePost:200:11" [editor]="editor" [config]="{toolbar: []}" [disabled]="true" class="ck-viewer">
                </ckeditor>
              </div>
              <div class="flex flex-row mb-2">
                <a class="btn btn-ghost p-0 min-h-min w-fit h-6 mb-1 ms-1"
                  routerLink="/forum/topic/{{topic.id}}"
                >
                  <div class="flex flex-row mx-2">
                    <div class="my-auto me-1">
                      <div>
                        {{topic.postsCount}}
                      </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 fill-none" viewBox="0 0 24 24">
                      <g>
                        <path d="M5.59961 19.9203L7.12357 18.7012L7.13478 18.6926C7.45249 18.4384 7.61281 18.3101 7.79168 18.2188C7.95216 18.1368 8.12328 18.0771 8.2998 18.0408C8.49877 18 8.70603 18 9.12207 18H17.8031C18.921 18 19.4806 18 19.908 17.7822C20.2843 17.5905 20.5905 17.2842 20.7822 16.9079C21 16.4805 21 15.9215 21 14.8036V7.19691C21 6.07899 21 5.5192 20.7822 5.0918C20.5905 4.71547 20.2837 4.40973 19.9074 4.21799C19.4796 4 18.9203 4 17.8002 4H6.2002C5.08009 4 4.51962 4 4.0918 4.21799C3.71547 4.40973 3.40973 4.71547 3.21799 5.0918C3 5.51962 3 6.08009 3 7.2002V18.6712C3 19.7369 3 20.2696 3.21846 20.5433C3.40845 20.7813 3.69644 20.9198 4.00098 20.9195C4.35115 20.9191 4.76744 20.5861 5.59961 19.9203Z"
                          class="stroke-base-content stroke-1"
                        />
                      </g>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-limit-loader>
  <app-limit-loader [limit]="1" [ignore]="topics.length == 0">
  </app-limit-loader>
</div>
