<div class="group">
  <div class="py-2 ms-8 flex flex-row items-center">
    <div class="basis-8/12 h-full">
      <div routerLink="/main/topic/{{topic.id}}" class="text-cyan-100 hover:text-accent-focus link link-hover font-semibold">
        {{topic.title}}
      </div>
    </div>
    <div class="basis-1/12">
      <div class="text-center">
        0
      </div>
    </div>
    <div class="basis-3/12">
      <div class="flex flex-col">
        user
      </div>
      <div class="text-xs text-secondary-content">
        time: ...
      </div>
    </div>
  </div>
  <hr class="border-neutral mx-4 group-hover:border-primary-content">
</div>
