<div class="flex flex-col">
  <div class="group">
    <div class="py-2 ms-8 flex flex-row items-center">
      <div class="basis-8/12 h-full">
        <div class="flex flex-col">
          <div class="flex flex-row">
            <a routerLink="/forum/topic/{{topic.id}}" class="link link-hover font-semibold grow">
              {{topic.title}}
            </a>
            <div *ngIf="topic.isPinned">
              <app-pinned-icon></app-pinned-icon>
            </div>
            <div *ngIf="topic.isClosed" class="ms-1">
              <app-closed-icon></app-closed-icon>
            </div>
          </div>

          <div class="text-xs text-secondary-content">
            created: {{topic.createdAt | date: 'dd.MM.yyyy HH:mm'}}
          </div>
        </div>
      </div>
      <div class="basis-1/12">
        <div class="text-center">
          {{topic.postsCount}}
        </div>
      </div>
      <div class="basis-3/12">
        <div *ngIf="topic?.lastPost">
          <a
            [routerLink]="['/','profile',topic?.lastPost?.author.id]"
            class="flex flex-col link no-underline"
          >
            {{topic?.lastPost?.author.username}}
          </a>
          <div class="text-xs text-secondary-content">
            time: {{topic?.lastPost?.createdAt | date: 'dd.MM.yyyy HH:mm'}}
          </div>
        </div>
      </div>
    </div>
    <hr class="border-neutral mx-4 group-hover:border-primary-content">
  </div>
</div>
